{% extends "admin/layout-admin.njk" %}

{% block content %}

    <div class="container">
        <div class="title">
            <h2>Criando Chef</h2>
        </div>

        <form action="/admin/chefs" method="POST" enctype="multipart/form-data">
            <label>Nome</label>
            <input type="text" name="name" value="{{name}}">

            <label>Avatar</label>
            <div id="photos-upload">
                <i class="material-icons">
                add
                </i>
                <input 
                    id="photos-input" 
                    type="file" 
                    name="photos" 
                    multiple
                    accept="images/*"
                    onchange="PhotosUpload.handleFileInput(event)"
                >
            </div>
                <div id="photos-preview">
            {% if files %}
                    {% for image in files %}
                        <div class="photo" id="{{image.id}}">
                            <img src="{{image.src}}" alt="{{image.name}}">
                            <i class="material-icons"
                                onclick="PhotosUpload.removeOldPhoto(event)"
                            >
                             delete_forever</i>
                        </div>
                    {% endfor %}
                    <input type="hidden" name="removed_files">
            {% endif %}
                </div>

            <div class="botoes edit">
                <button type="submit" class="button salvar">Salvar chef</button>
            </form>
        </div>

    {% endblock %}

    {% block script %}
        <script src="/scripts-chef.js"></script>
    {% endblock %}