{% extends "admin/layout-admin.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/admin/chefs-show.css">
{% endblock %}

{% block content %}

<div class="container">
    <div class="title">
        <h2>Chef: {{chef.name}}</h2>
        <div class="botoes">
            <a href="/admin/chefs/{{chef.id}}/edit" class="button salvar">Editar Chef</a>
        </div>
    </div>

    <div class="chef-detalhes">
    {% for image in files %}
        <img src="{{image.src}}" alt="Imagem do Chef {{chef.name}}">
    {% endfor %}

        <p>{{chef.name}}</p>
        <p>{{qntdRecipes}} receitas</p>
    </div>

    <h2 id="chefs-show">Receitas</h2>
      <div class="grid">
        {% for receita in receitas %}
            <div class="container-receita">
                <img src={{receita.image}} alt="Imagem Receita">
                <div class="informacoes-receita">
                    <p>{{receita.title}}</p>
                    <p>{{chef.name}}</p>
                    <a class="visualizar" href="/admin/recipes/{{receita.id}}">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
    
{% endblock %}