<div>
    <label>Nome</label>
    <input 
        type="text" 
        name="name" 
        value="{{user.name}}"
        placeholder="Digite o nome completo"
    >
</div>

<div>
    <label>Email</label>
    <input 
        type="email" 
        name="email" 
        value="{{user.email}}"
        placeholder="Digite o email"
        onblur="Validate.apply(this,'isEmail')"
    >
</div>


<div>
    {% if user.is_admin == true %}
    <input 
        type="checkbox" 
        name="is_admin"
        value=true
        checked
    >
    {% else %}
    <input 
        type="checkbox" 
        name="is_admin"
        value=true 
    >
    {% endif %}

    <label>Administrador</label> 
</div>


{# {% if user.is_admin == true %}
            checked
        {% endif %} #}