<div>
    <label>Nome</label>
    <input type="text" name="name" value="{{user.name}}">
</div>

<div>
    <label>Email</label>
    <input 
        type="email" 
        name="email" 
        value="{{user.email}}"
        onblur="Validate.apply(this,'isEmail')"
    >
</div>

<div class="senha">
    <label>Senha</label>
    <input type="password" name="password">
</div>

