{% extends "layout.njk" %}

{% block content %}

        <section>
            <div class="container-slogan">
                <h2>As melhores receitas</h2>
                <p>
                    Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro
                </p>
                <div>
                    <img src="assets/chef.png" alt="imagem do chef">
                </div>
            </div>
        </section>

        <h3 class="sub-destaque">Mais acessadas</h3>

        <section class="cards">
            {%for receita in receitas%}
                <div class="card">
                    <div class="card__image-content">
                        <!-- inserir a imagem -->
                        <img src="{{receita.image}}" alt="">
                    </div>
                    <div class="card__info">
                        <!-- inserir nome da comida -->
                        <p>{{receita.title}}</p>
                        <small>{{receita.author}}</small>
                    </div>
                </div>
                {%endfor%}
            </section>

    {% endblock %}

    {% block script %}
    <script src="/scripts-cards.js"></script>
    {% endblock %}