{% extends "layout.njk" %}

{% block content %}

    <main>
        <section class="cards">
            <div class="card">
                <div class="card__image-content">
                    <!-- inserir a imagem -->
                    <img src="assets/burger.png" alt="">
                </div>
                <div class="card__info">
                    <!-- inserir nome da comida -->
                    <p class="nome-receita">Triplo bacon burguer</p>
                    <small>por Jorge Relato</small>
                </div>
            </div>

            <div class="card">
                <div class="card__image-content">
                    <!-- inserir a imagem -->
                    <img src="assets/pizza.png" alt="">

                </div>
                <div class="card__info">
                    <!-- inserir nome da comida -->
                    <p class="nome-receita">Pizza 4 estações</p class="nome-receia">
                    <small>por Fabiana Melo</small>
                </div>
            </div>

            <div class="card">
                <div class="card__image-content">
                    <!-- inserir a imagem -->
                    <img src="assets/espaguete.png" alt="">

                </div>
                <div class="card__info">
                    <!-- inserir nome da comida -->
                    <p class="nome-receita">Espaguete ao alho</p>
                    <small>por Júlia Kinoto</small>
                </div>
            </div>

            <div class="card">
                <div class="card__image-content">
                    <!-- inserir a imagem -->
                    <img src="assets/lasanha.png" alt="">

                </div>
                <div class="card__info">
                    <!-- inserir nome da comida -->
                    <p class="nome-receita">Lasanha mac n’ cheese</p>
                    <small>por Juliano Vieira</small>
                </div>
            </div>

            <div class="card">
                <div class="card__image-content">
                    <!-- inserir a imagem -->
                    <img src="assets/doce.png" alt="">

                </div>
                <div class="card__info">
                    <!-- inserir nome da comida -->
                    <p class="nome-receita">Docinhos pão-do-céu</p>
                    <small>por Ricardo Golvea</small>
                </div>
            </div>

            <div class="card">
                <div class="card__image-content">
                    <!-- inserir a imagem -->
                    <img src="assets/asinhas.png" alt="">

                </div>
                <div class="card__info">
                    <!-- inserir nome da comida -->
                    <p class="nome-receita">Asinhas de frango ao barbecue</p>
                    <small>por Vania Steroski</small>
                </div>
            </div>

            <div class="card">
                <div class="card__image-content">
                    <!-- inserir a imagem -->
                    <img src="assets/burger.png" alt="">
                </div>
                <div class="card__info">
                    <!-- inserir nome da comida -->
                    <p class="nome-receita">Triplo bacon burguer</p>
                    <small>por Jorge Relato</small>
                </div>
            </div>

            <div class="card">
                <div class="card__image-content">
                    <!-- inserir a imagem -->
                    <img src="assets/pizza.png" alt="">

                </div>
                <div class="card__info">
                    <!-- inserir nome da comida -->
                    <p class="nome-receita">Pizza 4 estações</p class="nome-receia">
                    <small>por Fabiana Melo</small>
                </div>
            </div>

            <div class="card">
                <div class="card__image-content">
                    <!-- inserir a imagem -->
                    <img src="assets/espaguete.png" alt="">

                </div>
                <div class="card__info">
                    <!-- inserir nome da comida -->
                    <p class="nome-receita">Espaguete ao alho</p>
                    <small>por Júlia Kinoto</small>
                </div>
            </div>

            <div class="card">
                <div class="card__image-content">
                    <!-- inserir a imagem -->
                    <img src="assets/lasanha.png" alt="">

                </div>
                <div class="card__info">
                    <!-- inserir nome da comida -->
                    <p class="nome-receita">Lasanha mac n’ cheese</p>
                    <small>por Juliano Vieira</small>
                </div>
            </div>

            <div class="card">
                <div class="card__image-content">
                    <!-- inserir a imagem -->
                    <img src="assets/doce.png" alt="">

                </div>
                <div class="card__info">
                    <!-- inserir nome da comida -->
                    <p class="nome-receita">Docinhos pão-do-céu</p>
                    <small>por Ricardo Golvea</small>
                </div>
            </div>

            <div class="card">
                <div class="card__image-content">
                    <!-- inserir a imagem -->
                    <img src="assets/asinhas.png" alt="">

                </div>
                <div class="card__info">
                    <!-- inserir nome da comida -->
                    <p class="nome-receita">Asinhas de frango ao barbecue</p>
                    <small>por Vania Steroski</small>
                </div>
            </div>

        </section>

        <div class="modal-overlay">
            <div class="modal"></div>
        </div>
    </main>

{% endblock %}