{% extends "admin/layout-admin.njk" %}

{% block content %}

	<h2>Editando receita</h2>
	<form action="/admin/receitas?_method=PUT" method="POST">
		<input type="hidden" name="id" value="{{recipe.id}}">

		<label>ID do Chef</label>
		<input type="number" name="chef_id" value="{{recipe.chef_id}}">

		<label>Imagem da receita</label>
		<input type="text" name="image" value={{recipe.image}}>

		<label>Título da receita</label>
		<input type="text" name="title" value="{{recipe.title}}">

		<label>Ingredientes</label>
		<input type="text" name="ingredients" value="{{recipe.ingredients}}">
		<a href="#" class="adicionar">Adicionar novo ingrediente</a>

		<label>Modo de preparo</label>
		<input type="text" name="preparation" value="{{recipe.preparation}}">
		<a href="#" class="adicionar">Adicionar novo passo</a>

		<label>Informações Adicionais</label>
		<textarea name="information" cols="30" rows="10" >{{recipe.information}}</textarea>
		
		<div class="botoes">
			<button type="submit" class="salvar">Salvar receita</button>
		</form>
		<form action="/admin/receitas?_method=DELETE" method="POST">
			<input type="hidden" name="id" value="{{recipe.id}}">
			<button type="submit" class="delete">Deletar receita</button>
		</form>
		</div>
{% endblock %}