{% extends "admin/layout-admin.njk" %}

{% block content %}
    <section class="cabecalho">
        <h2>Gerenciar receitas</h2>

        <div class="botoes">
            <form action="/admin/receitas" method="GET">
                <input 
                    type="text" 
                    name="filter"
                    placeholder="Filtrar por nome ou aula"
                    value = {{filter}}
                >
                <button type="submit">Filtrar</button>
            </form>
            <button class="button salvar">
                <a  href="/admin/receitas/create">Nova Receita</a>
            </button>
        </div>
    </section>

    <div class="grid">
        {% for receita in receitas %}
            <div class="container-grid">
                <img src={{receita.image}} alt="Imagem Receita">
                <div class="informacoes-receita">
                    <p>{{receita.title}}</p>
                    <small>{{receita.chef_id}}</small>
                    <a href="/admin/receitas/{{receita.id}}">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pagination"
        data-page = {{pagination.page}}
        data-total = {{pagination.total}}
        data-filter = {{filter}}
    ></div>

{% endblock %}

{% block script %}
    <script src="/scripts.js"></script>
{% endblock %}