{% extends "./layout-admin.njk" %}

{% block content %}
    <div class="container">
        <div class="center">
            <h3>Sistema de Gerenciamento de Receitas</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur laboriosam eveniet rerum at minima quasi quam laudantium dolorem explicabo tenetur, sunt sapiente est autem aut facilis corporis quod odit alias.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur id qui eligendi deserunt mollitia delectus adipisci exercitationem voluptatum. Ad optio quia, omnis quis magni minus hic fuga ut odit dolore.</p>
        </div>
    </div>
{% endblock %}