<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/styles/basic.css">
        <link rel="stylesheet" href="/styles/admin/layout.css">
        {% block head %}{% endblock %}
        <title>Foodfy - Admin</title>
    </head>
    <body>
        <div class="admin">
            <header class="container">
                <ul>
                    <li>
                        <a href="/"><img src="/logo.png" alt="Logo Foodfy"></a>
                    </li>
                    <li>
                        <a href="/admin/recipes">Receitas</a>
                    </li>
                    <li>
                        <a href="/admin/chefs">Chefs</a>
                    </li>
                </ul>
            </header>
        </div>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
    {% block script %}{% endblock %}
</html>