{% extends "site/layout.njk" %}

{% block content %}

    <div class="container">
        <div class="title sobre">
            <h2>Sobre o Foodfy</h2>
        </div>
        <div class="sobre">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, optio! Voluptas nam, natus facilis tempore porro quisquam provident minus voluptates doloremque asperiores laborum modi dolorem nesciunt? Quam illum aut assumenda.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, facilis eaque eius, corrupti tempora commodi temporibus enim eveniet quas soluta officia consequatur ad. Neque, cumque minima fugiat officia exercitationem possimus.</p>
        </div>

        <div class="sobre">
        <h3>Como tudo começou...</h3>
            <p >Dolore velit nisi dolore sit ex tempor eiusmod elit do anim. Aute occaecat fugiat eiusmod proident. Mollit mollit veniam ad et Lorem.</p>
            <p >Exercitation ex id esse laboris nulla enim. Laboris enim veniam culpa aliqua ut et irure nisi laborum est. Ut non ea non sint minim Lorem. Aute anim id et irure elit irure dolore pariatur in est ut. Voluptate culpa culpa irure occaecat ut dolor incididunt enim esse excepteur ea velit ad. Aliqua amet velit enim nostrud incididunt anim duis commodo.</p>
            <p >Exercitation ex id esse laboris nulla enim. Laboris enim veniam culpa aliqua ut et irure nisi laborum est. Ut non ea non sint minim Lorem. Aute anim id et irure elit irure dolore pariatur in est ut. Voluptate culpa culpa irure occaecat ut dolor incididunt enim esse excepteur ea velit ad. Aliqua amet velit enim nostrud incididunt anim duis commodo.</p>
        </div>

        <div class="sobre">
        <h3>Nossas receitas</h3>
            <p >Id fugiat aliqua occaecat sunt dolor Lorem esse duis commodo magna. Tempor do qui laborum nostrud culpa pariatur. Excepteur laboris aliqua officia sint Lorem officia excepteur in cillum reprehenderit exercitation. Sint aliquip labore ex eu sit enim laboris in dolor officia irure.</p>
        </div>
    </div>
{% endblock %}