{% extends "admin/layout-admin.njk" %}

{% block content %}

	<h2>Criando receita</h2>
	<form action="/admin/receitas" method="POST">
		<label>Imagem da receita</label>
		<input type="text" name="imagem_receita">

		<label>Ingredientes</label>
		<div id="ingredientes">
			<div class="ingrediente">
				<input type="text" name="ingredientes[]" value="" >
			</div>
		</div>
		<button type="button" class="adicionar-ingrediente">Adicionar novo ingrediente</button>

		<label>Modo de preparo</label>
		<div id="passos">
			<div class="passo">
				<input type="text" name="modo_preparo_receita[]" value="">
			</div>
		</div>
		<button type="button" class="adicionar-passo">Adicionar passo</button>
		
		<label>Informações Adicionais</label>
		<textarea name="informacoes_receita" cols="30" rows="10"></textarea>
		
		<div class="botoes">
			<button type="submit" class="salvar">Salvar receita</button>
		</div>
	</form>
{% endblock %}

{% block script %}
	<script src="/scripts-ingrediente.js"></script>
{% endblock %}
