{% extends "admin/layout-admin.njk" %}

{% block content %}
    
        <h2>Exibindo receita</h2>
        <div class="botoes">
        <button class="button salvar">
            <a href="/admin/receitas/{{data.id}}/edit" >Editar receita</a>
        </button>
        </div>

        <div class="image-container">
            <img src={{data.imagem_receita}} alt="">
        </div>
        
        <label>Imagem da receita</label>
        <div>{{data.imagem_receita}}</div>

        <label>Ingredientes</label>
        <div>{{data.ingrediente_receita}}</div>

        <label>Modo de preparo</label>
        <div>{{data.modo_preparo_receita}}</div>

        <label>Informações Adicionais</label>
        <div>{{data.informacoes_receita}}</div>


{% endblock %}
