section.cards-chef {
    margin-top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

section.cards-chef div.card-chef {
    display: flex;
    align-items: center;
}

section.cards-chef div.card-chef div.card-chef__image-content{
    
    width: 64px;
}
section.cards-chef div.card-chef div.card-chef__image-content img{
    height: 64px;
    width: 100%;
    
    border-radius: 50%;

    object-fit: cover;
}

section.cards-chef div.card-chef div.card-chef__info {
    margin-left: 20px;
}

section.cards-chef div.card-chef div.card-chef__info p{
    color: var(--principal-color); /* principal-color */
    
    font-size: 1.8rem;
    line-height: 2.1rem;

    /* margin-bottom: 5px; */
}

section.cards-chef div.card-chef div.card-chef__info p + p{
    color: #777777;

    font-size: 1.4rem;

    margin-top: 5px;
}