
<label>Imagem da receita</label>
<div id="photos-upload">
    <i class="material-icons">
        add
    </i>
    <input 
        id="photos-input" 
        type="file" 
        name="photos" 
        multiple
        accept="images/*"
        onchange="PhotosUpload.handleFileInput(event)"
    >
    {# <p>Selecione até 5 fotos</p> #}
</div>
<div id="photos-preview">
    {% if recipe.files %}
        {% for image in recipe.files %}
            <div class="photo" id="{{image.id}}">
                <img src="{{image.src}}" alt="{{image.name}}">
                <i class="material-icons"
                    onclick="PhotosUpload.removeOldPhoto(event)"
                >
                delete_forever</i>
            </div>
        {% endfor %}
        <input type="hidden" name="removed_files">
    {% endif %}
</div>

<label>Nome da Receita</label>
<input type="text" name="title" value="{{recipe.title}}">

<label>Chef</label>
<select name="chef_id">
    {% for chef in chefs %}
        {% if recipe.chef_id == chef.id %}
            <option value="{{chef.id}}" selected>{{chef.name}}</option>
        {% else  %}
            <option value="{{chef.id}}">{{chef.name}}</option>
        {% endif %}
    {% endfor %}
</select>

<label>Ingredientes</label>
    <div id="ingredientes">
        {% if not recipe %}
            <input type="text" name="ingredients[]" value="{{ingredient}}" >
        {% endif %}
        {% for ingredient in recipe.ingredients %}
            <input type="text" name="ingredients[]" value="{{ingredient}}" >
        {% endfor %}
    </div>
<button type="button" class="adicionar-item" onclick="addIngrediente()">Adicionar novo ingrediente</button>

<label>Modo de preparo</label>
    <div id="passo">
        {% if not recipe %}
            <input type="text" name="preparation[]" value="{{prepar}}">
        {% endif %}
        {% for prepar in recipe.preparation %}
            <input type="text" name="preparation[]" value="{{prepar}}">
        {% endfor %}
    </div>
<button type="button" class="adicionar-item" onclick="addPasso()">Adicionar passo</button>

<label>Informações Adicionais</label>
<textarea name="information" cols="30" rows="10" >{{recipe.information}}</textarea>