@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

/* Configurações Gerais: Reset CSS */

* {
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 28px;
    text-decoration: none;
}

header,
main {
    max-width: 940px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}


/* MENU */

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    margin-top: 38px;
    margin-bottom: 36px;
}

header ul li:first-child {
    margin-right: 122px;
    margin-top: 36px;
    margin-bottom: 30px;
}

header ul li {
    margin-right: 30px;
}

a {
    color: #000;
}


/* =========================== */


/* SECTION SLOGAN */

div.container-slogan h2 {
    font-weight: 700;
    font-size: 32px;
    padding: 117px 0 0 60px;
}

.container-slogan {
    background-color: #FBDFDB;
    border-radius: 15px;
    position: relative;
    margin-bottom: 50px;
    height: 366px;
}

.container-slogan p {
    max-width: 316px;
    width: 80%;
    padding-left: 60px;
    opacity: 0.7;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    line-height: 28px;
}

.container-slogan div img {
    position: absolute;
    right: 100px;
    bottom: 0;
    max-height: 300px;
    max-width: 216px;
    width: 100%;
}


/* ========================== */

h3.sub-destaque {
    font-weight: 700;
    font-size: 24px;
    color: #111111;
    display: inline-block;
}


/* ========================== */


/* CARDS */


/* .cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;
}

.card__image-content img {
    border-radius: 15px;
    max-width: 100%;
}

.cards .card .card__info p {
    color: #111111;
    line-height: 16px;
    margin-top: 20px;
}

.card__info small {
    color: #777777;
    font-size: 14px;
} */

.card__image-content img {
    width: 100%;
    height: 280px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.card__info {
    text-align: center;
    margin-bottom: 50px;
}

.card__info p {
    font-weight: 700;
    font-size: 36px;
    color: #111111;
    margin-bottom: 4px;
}

small {
    color: #777777;
    font-size: 20px;
}

.toggle {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #999999;
    margin-left: 8px;
}

div.container-receita ul li {
    margin-left: 20px;
}

div.container-receita {
    margin-top: 20px;
    margin-bottom: 39px;
}

div.container-receita .container-receita {
    margin-bottom: 20px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: opacity 500ms step-end;
}


/* ========================== */


/* SOBRE */

.text-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.conteudo {
    color: #444444;
    font-size: 18px;
}

h4.sub-destaque {
    font-weight: 700;
    color: #111111;
    font-size: 20px;
}


/* ======================= */


/* FOOTER */

footer {
    background-color: #EEEEEE;
    padding: 23px 0 23px 0;
    box-sizing: border-box;
    text-align: center;
    margin-top: 50px;
}

footer p {
    font-size: 14px;
    color: #999999;
}