{% extends "layout.njk" %}

{% block content %}

    <div class="container">

        <section class="cards-chef">
            {# {%for receita in receitas%}
                <div class="card">
                    <div class="card__image-content">
                        <!-- inserir a imagem -->
                        <img src="{{receita.image}}" alt="">
                    </div>
                    <div class="card__info">
                        <!-- inserir nome da comida -->
                        <p>{{receita.title}}</p>
                        <small>{{receita.author}}</small>
                    </div>
                </div>
                {%endfor%} #}
            <div class="card-chef">
                <div class="card-chef__image-content">
                    <!-- inserir a imagem -->
                    <img src='https://placehold.co/64X64' alt="">
                </div>
                <div class="card-chef__info">
                    <!-- inserir nome da comida -->
                    <p>Bairam Frootan</p>
                    <p>3 receitas</p>
                </div>
            </div>

            <div class="card-chef">
                <div class="card-chef__image-content">
                    <!-- inserir a imagem -->
                    <img src='https://placehold.co/64X64' alt="">
                </div>
                <div class="card-chef__info">
                    <!-- inserir nome da comida -->
                    <p>Bairam Frootan</p>
                    <p>3 receitas</p>
                </div>
            </div>

            <div class="card-chef">
                <div class="card-chef__image-content">
                    <!-- inserir a imagem -->
                    <img src='https://placehold.co/64X64' alt="">
                </div>
                <div class="card-chef__info">
                    <!-- inserir nome da comida -->
                    <p>Bairam Frootan</p>
                    <p>3 receitas</p>
                </div>
            </div>

            <div class="card-chef">
                <div class="card-chef__image-content">
                    <!-- inserir a imagem -->
                    <img src='https://placehold.co/64X64' alt="">
                </div>
                <div class="card-chef__info">
                    <!-- inserir nome da comida -->
                    <p>Bairam Frootan</p>
                    <p>3 receitas</p>
                </div>
            </div>

            <div class="card-chef">
                <div class="card-chef__image-content">
                    <!-- inserir a imagem -->
                    <img src='https://placehold.co/64X64' alt="">
                </div>
                <div class="card-chef__info">
                    <!-- inserir nome da comida -->
                    <p>Bairam Frootan</p>
                    <p>3 receitas</p>
                </div>
            </div>

            <div class="card-chef">
                <div class="card-chef__image-content">
                    <!-- inserir a imagem -->
                    <img src='https://placehold.co/64X64' alt="">
                </div>
                <div class="card-chef__info">
                    <!-- inserir nome da comida -->
                    <p>Bairam Frootan</p>
                    <p>3 receitas</p>
                </div>
            </div>

            <div class="card-chef">
                <div class="card-chef__image-content">
                    <!-- inserir a imagem -->
                    <img src='https://placehold.co/64X64' alt="">
                </div>
                <div class="card-chef__info">
                    <!-- inserir nome da comida -->
                    <p>Bairam Frootan</p>
                    <p>3 receitas</p>
                </div>
            </div>

            <div class="card-chef">
                <div class="card-chef__image-content">
                    <!-- inserir a imagem -->
                    <img src='https://placehold.co/64X64' alt="">
                </div>
                <div class="card-chef__info">
                    <!-- inserir nome da comida -->
                    <p>Bairam Frootan</p>
                    <p>3 receitas</p>
                </div>
            </div>

        </div>

    {% endblock %}

    {# {% block script %}
        <script src="/scripts-cards.js"></script>
    {% endblock %} #}