{% extends "layout.njk" %}

{% block content %}

    <div class="container">
        <section>
            <div class="container-slogan">
                <h2>As melhores receitas</h2>
                <div>
                    <p>
                    Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro
                </p>
                </div>
                <div>
                    <img src="assets/chef.png" alt="imagem do chef">
                </div>
            </div>
        </section>

        <div class="receitas">
            <h3>Mais acessadas</h3>
        </div>

        <section class="cards">
            {% for recipe in recipes %}

                <div class="card">
                    <div class="card__image-content">
                        <!-- inserir a imagem -->
                        <img src='{{recipe.image}}' alt="">
                    </div>
                    <div class="card__info">
                        <!-- inserir nome da comida -->
                        <p>{{recipe.title}}</p>
                        <p>{{chef.name}}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}

{# {% block script %}
        <script src="/scripts-cards.js"></script>
    {% endblock %} #}