{% extends "layout.njk" %}

{% block content %}

    <section class="cards">
        <div class="card">
            <div class="card__image-content">
                <!-- inserir a imagem -->
                <img src="{{recipe.image}}" alt="">
            </div>
            <div class="card__info">
                <!-- inserir nome da comida -->
                <p class="nome-receita">{{recipe.title}}</p>
                <p>{{chef.name}}</p>
            </div>

            <h3 class="sub-destaque">Ingredientes</h3>

            <a class="toggle">mostrar</a>

            <div class="container-receita hidden">
                <ul>
                    {%for item in receitas.ingredients%}
                        <li class="conteudo">{{item}}</li>
                        {%endfor%}
                    </ul>
                </div>

                <h3 class="sub-destaque">Modo de Preparo</h3>

                <a class="toggle">mostrar</a>

                <div class="container-receita hidden">
                    <ul>
                        {%for item in receitas.preparation%}
                            <li class="conteudo">{{item}}</li>
                            {%endfor%}
                        </ul>

                    </div>

                    <h3 class="sub-destaque">Informações adicionais</h3>

                    <a class="toggle">mostrar</a>

                    <div class="container-receita hidden">
                        <p class="conteudo">{{receitas.information}}</p>
                    </div>
                </div>

            </section>
        {% endblock %}

        {% block script %}
            <script src="/scripts.js"></script>
            <script src="/scripts-toggle.js"></script>
        {% endblock %}