<header class="container">
    <ul>
        <li>
            <a href="/"><img src="/assets/logo.png" alt="Logo Foodfy"></a>
        </li>
        <li>
            <a href="/receitas">Receitas</a>
        </li>
        <li>
            <a href="/admin">Admin</a>
        </li>
        <li>
            <form action="/receitas" method="GET">
                <input 
                    type="text" 
                    name="filter"
                    placeholder="Buscar uma receita"
                >
                <button type="submit">Buscar</button>
            </form>
        </li>
    </ul>
</header>